.page {
  padding: 20;
  background: white;
  min-height: 300px;
  column-width: 200px;
}

.box {
  padding: 15px 7px 0 7px;
}

.pic {
  border: 1px solid #ddd;
}

.pic img {
  width: 165px;
  padding: 10px;
}