
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}


.hideQrcode {
	position: absolute;
  z-index: 99;
  top: 50px;
  left: -100px;
	width: 250px;
	max-width: none;
  height: 0px;
  border: 0px solid #0085ba;
}

.showQrcode {
	position: absolute;
  z-index: 99;
  top: 50px;
  left: -100px;
	width: 250px;
	max-width: none;
  height: 300px;
  border: 2px solid #0085ba;
}
