.img {
  width: 110px;
  height: 110px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 20px;
}

.tagGroup {
  margin-left: 5px;
  width: 110px;
  height: 110px;
}